<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>my-blog</display-name>
  <filter>
  	<filter-name>CharacterSetFilter</filter-name>
  	<display-name>CharacterSetFilter</display-name>
  	<description></description>
  	<filter-class>com.suxinli.filter.CharacterSetFilter</filter-class>
  </filter>
  <filter>
  	<filter-name>AutoLoginFilter</filter-name>
  	<display-name>AutoLoginFilter</display-name>
  	<description></description>
  	<filter-class>com.suxinli.filter.AutoLoginFilter</filter-class>
  </filter>
  <filter>
  	<filter-name>AdminFilter</filter-name>
  	<display-name>AdminFilter</display-name>
  	<description></description>
  	<filter-class>com.suxinli.filter.AdminFilter</filter-class>
  </filter>
  <filter>
  	<filter-name>RequestLoggingFilter</filter-name>
  	<display-name>RequestLoggingFilter</display-name>
  	<description></description>
  	<filter-class>com.suxinli.filter.RequestLoggingFilter</filter-class>
  </filter>
  
  <filter>
  	<filter-name>IncrementArticleViewFilter</filter-name>
  	<display-name>IncrementArticleViewFilter</display-name>
  	<description></description>
  	<filter-class>com.suxinli.filter.IncrementArticleViewFilter</filter-class>
  </filter>
  
  <filter-mapping>
  	<filter-name>CharacterSetFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
  	<filter-name>AutoLoginFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
  	<filter-name>AdminFilter</filter-name>
  	<url-pattern>/blog/newArticle.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
  	<filter-name>AdminFilter</filter-name>
  	<url-pattern>/blog/updateArticle.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
  	<filter-name>AdminFilter</filter-name>
  	<servlet-name>CreateArticleServlet</servlet-name>
  </filter-mapping>
  <filter-mapping>
  	<filter-name>AdminFilter</filter-name>
  	<servlet-name>DeleteArticleServlet</servlet-name>
  </filter-mapping>
  <filter-mapping>
  	<filter-name>AdminFilter</filter-name>
  	<servlet-name>UpdateArticleServlet</servlet-name>
  </filter-mapping>
  <filter-mapping>
  	<filter-name>RequestLoggingFilter</filter-name>
  	<servlet-name>CreateCommentServlet</servlet-name>
  </filter-mapping>
  <filter-mapping>
  	<filter-name>RequestLoggingFilter</filter-name>
  	<servlet-name>DeleteCommentServlet</servlet-name>
  </filter-mapping>
  <filter-mapping>
  	<filter-name>RequestLoggingFilter</filter-name>
  	<servlet-name>LogoutServlet</servlet-name>
  </filter-mapping>
  <filter-mapping>
  	<filter-name>RequestLoggingFilter</filter-name>
  	<servlet-name>UpdateUserServlet</servlet-name>
  </filter-mapping>
  <filter-mapping>
  	<filter-name>RequestLoggingFilter</filter-name>
  	<servlet-name>LikeArticleServlet</servlet-name>
  </filter-mapping>
  
  <filter-mapping>
  	<filter-name>IncrementArticleViewFilter</filter-name>
  	<servlet-name>ViewArticleServlet</servlet-name>
  </filter-mapping>
  
  <listener>
  	<listener-class>com.suxinli.listener.ConfigurationListener</listener-class>
  </listener>
  
  <servlet>
  	<servlet-name>SignUpServlet</servlet-name>
  	<display-name>SignUpServlet</display-name>
  	<description></description>
  	<servlet-class>com.suxinli.servlet.SignUpServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<display-name>LoginServlet</display-name>
  	<description></description>
  	<servlet-class>com.suxinli.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LogoutServlet</servlet-name>
  	<display-name>LogoutServlet</display-name>
  	<description></description>
  	<servlet-class>com.suxinli.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ViewArticleServlet</servlet-name>
  	<display-name>ViewArticleServlet</display-name>
  	<description></description>
  	<servlet-class>com.suxinli.servlet.ViewArticleServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteArticleServlet</servlet-name>
  	<display-name>DeleteArticleServlet</display-name>
  	<description></description>
  	<servlet-class>com.suxinli.servlet.DeleteArticleServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateArticleServlet</servlet-name>
  	<display-name>UpdateArticleServlet</display-name>
  	<description></description>
  	<servlet-class>com.suxinli.servlet.UpdateArticleServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CreateArticleServlet</servlet-name>
  	<display-name>CreateArticleServlet</display-name>
  	<description></description>
  	<servlet-class>com.suxinli.servlet.CreateArticleServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CreateCommentServlet</servlet-name>
  	<display-name>CreateCommentServlet</display-name>
  	<description></description>
  	<servlet-class>com.suxinli.servlet.CreateCommentServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteCommentServlet</servlet-name>
  	<display-name>DeleteCommentServlet</display-name>
  	<description></description>
  	<servlet-class>com.suxinli.servlet.DeleteCommentServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ProfileServlet</servlet-name>
  	<display-name>ProfileServlet</display-name>
  	<description></description>
  	<servlet-class>com.suxinli.servlet.ProfileServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateUserServlet</servlet-name>
  	<display-name>UpdateUserServlet</display-name>
  	<description></description>
  	<servlet-class>com.suxinli.servlet.UpdateUserServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LikeArticleServlet</servlet-name>
  	<display-name>LikeArticleServlet</display-name>
  	<description></description>
  	<servlet-class>com.suxinli.servlet.LikeArticleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>SignUpServlet</servlet-name>
  	<url-pattern>/SignUpServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LogoutServlet</servlet-name>
  	<url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ViewArticleServlet</servlet-name>
  	<url-pattern>/ViewArticleServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteArticleServlet</servlet-name>
  	<url-pattern>/DeleteArticleServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateArticleServlet</servlet-name>
  	<url-pattern>/UpdateArticleServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CreateArticleServlet</servlet-name>
  	<url-pattern>/CreateArticleServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CreateCommentServlet</servlet-name>
  	<url-pattern>/CreateCommentServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteCommentServlet</servlet-name>
  	<url-pattern>/DeleteCommentServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ProfileServlet</servlet-name>
  	<url-pattern>/ProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateUserServlet</servlet-name>
  	<url-pattern>/UpdateUserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LikeArticleServlet</servlet-name>
  	<url-pattern>/LikeArticleServlet</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
  	<welcome-file>
  		index.jsp
  	</welcome-file>
  </welcome-file-list>
  
  <error-page>
  	<error-code>404</error-code>
  	<location>/error/error.jsp</location>
  </error-page>
  
  <error-page>
  	<exception-type>java.lang.Exception</exception-type>
  	<location>/error/error.jsp</location>
  </error-page>
</web-app>
